*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-size: 10px;
    font-family: 'Poppins' , sans-serif;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}
.section{
    width:100%;
    height: 100vh;
    display: flex;
}
.img-part{
    flex: 1;
    background: url("images/mediensturmer.jpg")center no-repeat;
    background-size: cover;
}
.form-part{
    flex: 1;
    background-color:#FFBA08 ;
}